@model IEnumerable<IrisMed.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Appointments</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientComplaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalBill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientComplaints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>

            @if (item.MedicalBill == -1)
            {
                    <td>Paid</td>
            }
             else
            {
                 <td>
                    £@Html.DisplayFor(modelItem => item.MedicalBill)
                 </td>
            }

            @if(item.MedicalBill > 0)
            {
                <td>
                    <a asp-action="Pay" asp-route-id="@item.Id">Pay Bill</a>
                </td>
            }
                
        </tr>
}
    </tbody>
</table>
