@using IrisMed.Areas.Identity.Data
@model IEnumerable<IrisUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patient Details</h1>

<p>
    <a asp-action="Index">Go Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedMedication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalConditons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedMedication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalConditons)
            </td>
            <td>
                <a asp-action="Diagnose" asp-route-id="@item.FullName.Replace(" ","")">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
