@model IEnumerable<IrisMed.Models.Shift>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shift Timesheets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift_End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_End)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
